{% extends 'base.html.twig' %}

{% block img %}
	<img src=" {{img}} " alt="">
{% endblock %}
{% block header %}
	<h1 class="h1 text-center text-uppercase mb-5">
		{{name}}
	</h1>
{% endblock %}
{% block body %}

	<div class="container">
		<span>
			<em>
				{{article.dateCreated|date('d:M:Y')}}
			</em>
		</span>

	</div>

	<div class="container"></div>

	<div class="container">
		<p>
			{{article.content}}
		</p>
	</div>
{% endblock %}
